body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.mainHeading{
  font-family: 'DM Serif Display', serif;
  color:white;
  font-size:2em;
}
.landingBackground{
  background: rgb(2,0,36);
  background: linear-gradient(79deg, rgba(2,0,36,1) 1%, rgba(4,189,204,1) 17%, rgba(5,170,87,1) 49%);
}
